.page {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .content {
    margin-top: 1rem;
    :global {
      .ant-btn-link {
        padding: 0;
        height: auto;
        line-height: normal;
      }
    }
  }
}
